body {
	font-family: Arial, sans-serif;
	font-size: 12px;
	background-color: #f2f2f2;

	#page {
		margin: 1rem;
		border: 1px solid #ccc;
		background-color: #fff;
		padding: 1rem;

		h1 {
			color: blue;
		}
	}
}